@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    margin-top: 0;
    margin: 0;
    padding: 0;
    font-family: "montserrat";
}

:root{
    --primary-color: #f5eed7;
    --secondary-color: #ff8b1b;
    --tertiary-color: rgb(37, 37, 37);
    --four-color: #6649B8;
    --text-color: #fff;
    --box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

body {
    background-color: var(--tertiary-color);
}

.container {
    width: 55%;
    min-width: 40rem;
    background-color: var(--text-color);
    padding: 4rem 1rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}

.title {
    color: var(--secondary-color);
    text-align: center;
    font-size: 4em;
    margin: 0 auto;
    text-transform: uppercase;
    padding-bottom: 1rem;
    border-radius: 1rem;
    max-width: fit-content;
    letter-spacing: 1.5rem;

}